numpy
pandas
matplotlib
seaborn
scikit-learn
opencv-python
opencv-python-headless
Pillow
pydicom
albumentations
torch
torchvision
torchaudio
ultralytics
torchcam
streamlit
gradio
tqdm
pyyaml
